.notification-text{
    font-size: 14px;
    font-weight: 500;
    color: var(--blue);
    text-align: center;
}
.notification-details-text{
    font-size: 14px;
}
.open-btn{
    font-size: 12px;
    padding: 5px 15px;
}
.close-icon{
    cursor: pointer;
}